<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Welcome to my personal website!  I have a variety of different hobbies.  I've recently gained a love for development which is why I decided to put this website together.  I enjoy pretty much anything outdoors and I just love life.  Click on any of the icons below to learn more about me.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Additional References</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Mikeq13/Mikeq13"<%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/mike.quintero13/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/michael.quintero.52"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/Demyze_ghosTa"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/michael-quintero-8a9b48110/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>